html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#center-text {
  width: 100%;
  color: rgb(225, 12, 168);
  height: 100%;
  font-size: 2rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1rem; */
  text-align: center;
}
